In [1]:
import numpy as np
import pandas as pd

In [2]:
# Load data
df = pd.read_csv("CurrentVariablesVer2.csv").astype(float)

In [3]:
# NM
df = pd.concat([df['NETRa1990'], df['NETRa1995'], df['NETRa2000'], df['NETRa2005'], df['NETRa2010']], ignore_index=True).to_frame('New')

# Precip 
## df = pd.concat([df['PRECRa1990'], df['PRECRa1995'], df['PRECRa2000'], df['PRECRa2005'], df['PRECRa2010']], ignore_index=True).to_frame('New')

# Wet Days 
## df = pd.concat([df['MLWSRa1990'], df['MLWSRa1995'], df['MLWSRa2000'], df['MLWSRa2005'], df['MLWSRa2010']], ignore_index=True).to_frame('New')

# Dry Days 
## df = pd.concat([df['MLDSRa1990'], df['MLDSRa1995'], df['MLDSRa2000'], df['MLDSRa2005'], df['MLDSRa2010']], ignore_index=True).to_frame('New')

# TMAX
## df = pd.concat([df['TMAXRa1990'], df['TMAXRa1995'], df['TMAXRa2000'], df['TMAXRa2005'], df['TMAXRa2010']], ignore_index=True).to_frame('New')

# TMIN
## df = pd.concat([df['TMINRa1990'], df['TMINRa1995'], df['TMINRa2000'], df['TMINRa2005'], df['TMINRa2010']], ignore_index=True).to_frame('New')

# EDUHR
#df = pd.concat([df['ELECRa2000'], df['ELECRa2005'], df['ELECRa2010']], ignore_index=True).to_frame('New')
# df.columns = ["New"]

In [4]:
df.head()

        New
0 -0.462583
1  1.843003
2 -2.301024
3  0.000000
4  8.017143

In [8]:
# Convert to a pandas Series
#df = pd.Series(df)

# Compute quantile-based class breaks (7 classes), including min and max dynamically
quantiles_7 = df["New"].quantile(q=np.linspace(0, 1, 7)).round(2).tolist()

# Print the results
print(quantiles_7)

[-282.0, -0.67, -0.24, -0.05, 0.0, 0.3, 171.33]

- prompt: apply these 7 classes to a Reds (Red-Dark Red) sequential color scheme and create pairs for mapbox gl using the step function: [-0.05, -0.02, -0.01, -0.0, 0.01, 0.02, 0.06]

In [75]:
# Shift data to be positive
shift = abs(df["New"].min()) + 1  
log_values = np.log(df["New"] + shift)

# Compute 9 logarithmic breaks
log_breaks = np.exp(np.linspace(log_values.min(), log_values.max(), 9)) - shift

# Round for better readability
log_breaks = np.round(log_breaks, 2)

print(log_breaks)

[-282.   -280.85 -278.38 -273.08 -261.68 -237.2  -184.59  -71.55  171.33]

In [76]:
df1 = pd.DataFrame(log_breaks)